<div class="user-info">
  <div class="user-item"><b>Přihlášený uživatel</b></div>
  <div class="user-item">{{ m_user.firstname }} {{ m_user.lastname }}</div>
  <div  class="user-item" *ngIf="m_user && m_user.superuser">superuser</div>
</div>

<div class="orders">
  <h2>Seznam položek</h2>
  <table class="order-item-header">
    <tr class="table-header">
      <th class="item item-ean">ean</th>
      <th class="item item-code">kód</th>
      <th class="item item-amount">množství</th>
      <th class="item item-name">název</th>
      <th class="item item-packed-by">zaměstnanec</th>
      <th class="item item-packed-date">datum expedice</th>
      <th class="item item-packed-date">status</th>
    </tr>
    <tr *ngFor="let item of m_items" class="table-content" (click)="packItem(item)">
      <th class="item item-ean">{{ item.ean }}</th>
      <th class="item item-code">{{ item.code }}</th>
      <th class="item item-amount">{{ item.amount }}</th>
      <th class="item item-name">{{ item.name }}</th>
      <th class="item item-packed-by">{{ item.packed_by }}</th>
      <th class="item item-packed-date">{{ item.date_packed }}</th>
      <th class="item item-not-complete" *ngIf="item.amount">Nekompletní</th>
      <th class="item item-complete" *ngIf="!item.amount">Expedováno</th>
    </tr>
  </table>
</div>

<div class="complete-order" *ngIf="m_user.superuser || m_complete">
  <button (click)="despatch()">Dokončit objédnávku</button>
</div>

<!-- Modal -->

<div id="myModal" class="modal">
  <div class="modal-content">
    <span class="close" (click)="exit()">&times;</span>
    <form name="amount">
      <label for="amount" class="my-label">Amount</label>
      <input id="amount" type="number" class="input-modal" [(ngModel)]="m_amount" name="amount" min="0" max="{{this.m_maxAmount}}">
    </form>
    <button (click)="update()">Expedovat</button>
  </div>
</div>
